@import url("https://fonts.googleapis.com/css?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background-color: #e44f25;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}
* {
  font-family: "Montserrat", sans-serif;
}
.ieee-logo {
  position: absolute;
  top: 0%;
  right: 0%;
}

.main-title {
  font-size: 2.5em;
  margin-left: 30px;
  margin-top: 60px;
  font-family: "Russo One", sans-serif;
}

.title {
  text-align: center;
}

.speakers {
  margin-top: 60px;
  padding: 150px 0em 150px 0em;
  /* border: 3px solid white; */
}

.container-2 {
  margin-top: 20px;
  border: 3px dotted white;
  padding: 300px 0em 300px 0em;
  display: none;
}

.container-3 {
  background-color: #da370a;
  padding: 20px 0 20px 0;
}

.table {
  min-width: 100vw;
  height: 150px;
  background-color: rgb(0, 0, 0);
}

.social {
  position: relative;
  top: 4%;
  right: 0%;
}
.sicon {
  width: 37px;
}
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------- */

.header {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 10% 80%;
  grid-template-columns: 1fr 1fr;
}

.navbar {
  display: none;
}

#section-title {
  margin: 0;
  text-align: center;
  font-family: "Russo One", sans-serif;
  font-size: 2.5rem;
}

.section {
  transition: 1s;
  padding-top: 1.2em;
  padding-bottom: 2rem;
}

.section:nth-of-type(odd) {
  background-color: beige;
  color: #293147;
}

.section:nth-of-type(even) {
  /* background-color: beige; */
  color: rgba(255, 255, 255, 0.9);
}

#main-title-container {
  grid-area: 1 / 1 / 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #293147;
  background-color: rgb(250, 146, 9);
  background-image: url("https://cdn.pixabay.com/photo/2015/05/23/22/16/orange-781119_960_720.png");
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main-title {
  font-size: 3.5rem;
  text-align: center;
  font-family: "Russo One", sans-serif;
  margin: 0;
}

#pes-logo {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
  width: 95%;
  display: block;
}

#ieee-logo {
  grid-area: 1 / 2 / 2 / 3;
  width: 95%;
  display: block;
  margin: auto;
}

#read-more {
  /* background-color: #293147; */
  position: absolute;
  bottom: 1.2em;
  color: white;
  padding: 1em;
  margin-top: 10px;
  text-align: center;
  border-radius: 12%;
  text-decoration: none;
}

#button {
  display: inline-block;
  background-color: rgb(0, 140, 255);
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "^";
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.content-body {
  width: 84%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.3em;
  max-width: 1200px;
  color: #293147;
  font-size: 1.1rem;
}

.speakers-container {
  margin-top: 2.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5em;
}

.speaker-pic {
  width: 45%;
}

.speaker-h {
  margin: 0;
  margin-top: 0.5em;
  text-align: center;
}

.schedule-table {
  margin: auto;
  margin-top: 2.3em;
  color: #293147;
  border-collapse: collapse;
}

th {
  font-size: 1.3rem;
  padding-bottom: 0.6em;
  text-align: left;
}

.schedule-table td {
  font-style: italic;
  font-size: 1rem;
  border: 1px solid #293147;
  padding: 0.6em 0.7em;
}

.schedule-table tbody tr:nth-last-of-type(odd) {
  background-color: rgb(221, 221, 175);
}

.schedule-table tbody tr:nth-last-of-type(even) {
  background-color: rgb(180, 164, 99);
}

#register-form {
  width: 95%;
  height: 500px;
  margin: auto;
  display: block;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.3em;
}

.contact-details {
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  font-size: 1.1rem;
}

#big-map {
  display: none;
}

@media screen and (min-width: 480px) {
  .speakers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 910px) {
  .navbar {
    display: block;
  }

  #big-map {
    display: block;
  }

  #small-map {
    display: none;
  }

  .contact-container {
    flex-direction: row;
    justify-content: center;
  }

  .contact-details {
    margin-left: 1.3em;
  }

  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    border-radius: 15px;
  }

  .nav-links li {
    margin: 0px;
    display: inline-block;
    font-size: 1.5rem;
    min-width: 150px;
    height: 50px;
    border-right: 2px solid black;
  }

  .nav-links li:last-child {
    border: none;
  }

  /* .nav-links a:hover {
    background: #293147;
    color: white;
  } */

  .nav-links a:active {
    background: #293147;
    color: white;
  }

  .nav-links a {
    margin: auto;
    display: block;
    line-height: 50px;
    text-align: center;
    width: inherit;
    text-decoration: none;
    color: #293147;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

@media screen and (min-width: 960px) {
  #main-title {
    margin: 0px 0.2em;
  }

  #main-title-div {
    display: flex;
    flex-direction: row;
  }

  #home-date {
    font-size: 1.8rem;
  }

  .speakers-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  #main-title {
    font-size: 5rem;
  }

  .contact-details {
    margin-left: 5em;
  }

  .nav-links a:hover {
    background: #293147;
    color: white;
  }
}